<div class="row">
  <div class="col-md-8 offset-md-2">
    <mat-card class="card mat-elevation-z8">
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Book Name</mat-label>
          <input
            (input)="onBooks($event)"
            matInput
            placeholder="Ex. rich dad poor dad"
            value=""
          />
        </mat-form-field>
      </form>
    </mat-card>
  </div>
</div>

<div class="row my-5">
  <ng-container *ngFor="let book of bookArr">
    <div class="col-md-4" *ngFor="let b1 of book.items">
      <app-card [bookArrToCard]="b1.volumeInfo"></app-card>
    </div>
  </ng-container>
</div>
